<div class="portfolio-container">
  <h1>Our Portfolio</h1>
  <div class="portfolio-cards">
    <mat-card class="portfolio-card">
      <img src="assets/svc.png" alt="Project 1" class="illustration">
      <mat-card-title>Silicon Valley College Website</mat-card-title>
      <mat-card-content>
        <p>The Silicon Valley College website features a modern, user-friendly interface for students and staff, offering easy access to course details, admissions, and news. Built with responsive design and optimized for performance, it ensures seamless navigation across devices. An administrative backend allows staff to efficiently manage content, keeping the site up-to-date with the latest offerings and announcements.</p>
      </mat-card-content>
     <div class="icons">
      <img class="icon" src="assets/framework-icons/icons8-git-48.png" alt="Project 1">
      <img class="icon" src="assets/framework-icons/icons8-tailwind-css-64.png" alt="Project 1">
      <img class="icon" src="assets/framework-icons/icons8-react-64.png" alt="Project 1">
      <img class="icon" src="assets/framework-icons/icons8-mysql-48.png" alt="Project 1" >
      <img class="icon" src="assets/framework-icons/icons8-laravel-64.png" alt="Project 1" >
      <img class="icon" src="assets/framework-icons/icons8-github-100.png" alt="Project 1" >
      <img class="icon" src="assets/framework-icons/icons8-jwt-48.png" alt="Project 1" >
     </div>

    </mat-card>

    <mat-card class="portfolio-card">
      <img src="assets/for-inventory.png" alt="Project 2" class="illustration">
      <mat-card-title>Inventory Management System</mat-card-title>
      <mat-card-content>
        <p>The Inventory Management System is a robust solution designed to streamline the tracking of stock levels, orders, and deliveries. It provides real-time inventory updates, automated alerts for low stock, and detailed reporting to enhance decision-making. With a user-friendly interface, the system allows staff to manage product categories, suppliers, and warehouses efficiently. This solution improves operational efficiency by reducing manual tasks and minimizing errors in inventory control.</p>
      </mat-card-content>

      <div class="icons">
        <img class="icon" src="assets/framework-icons/icons8-react-64.png" alt="Project 1">
        <img class="icon" src="assets/framework-icons/icons8-nodejs-48.png" alt="Project 1" >
        <img class="icon" src="assets/framework-icons/icons8-express-js-64.png" alt="Project 1" >
        <img class="icon" src="assets/framework-icons/icons8-redux-48.png" alt="Project 1" >
        <img class="icon" src="assets/framework-icons/icons8-postgresql-100.png" alt="Project 1" >
        <img class="icon" src="assets/framework-icons/icons8-github-100.png" alt="Project 1" >
        <img class="icon" src="assets/framework-icons/icons8-jwt-48.png" alt="Project 1" >
        <img class="icon" src="assets/framework-icons/icons8-git-48.png" alt="Project 1">
       </div>
    </mat-card>

    <mat-card class="portfolio-card">
      <img src="assets/chiventis.png" alt="Project 3" class="illustration">
      <mat-card-title>Chiventis</mat-card-title>
      <mat-card-content>
        <p>Chivertis is your one-stop shop for all Airtime, Data, and Bill payments. The platform provides a seamless experience for purchasing mobile airtime, data bundles, and managing various bills from a single, user-friendly interface. With its fast and secure transactions, Chivertis simplifies your communication and utility needs. The intuitive design ensures ease of use, making it convenient to handle all your financial transactions in one place.</p>
      </mat-card-content>
      <div class="icons">
        <img class="icon" src="assets/framework-icons/icons8-laravel-64.png" alt="Project 1">
        <img class="icon" src="assets/framework-icons/icons8-mysql-48.png" alt="Project 1" >
        <img class="icon" src="assets/framework-icons/icons8-github-100.png" alt="Project 1" >
        <img class="icon" src="assets/framework-icons/icons8-jwt-48.png" alt="Project 1" >
        <img class="icon" src="assets/framework-icons/icons8-git-48.png" alt="Project 1">
       </div>
    </mat-card>

    <mat-card class="portfolio-card">
      <img src="assets/digital-dine.png" alt="Project 4" class="illustration">
      <mat-card-title>Digital Dine</mat-card-title>
      <mat-card-content>
        <p>Digital Dine is a self-ordering system for restaurants, designed to enhance the dining experience with multilingual support. Customers can browse menus, place orders, and customize their selections directly from their devices in their preferred language. The system streamlines order management and integrates seamlessly with kitchen operations, improving efficiency and accuracy. Its user-friendly interface ensures a smooth and personalized experience for diners, while its multilingual capabilities cater to a diverse clientele.</p>
      </mat-card-content>
      <div class="icons">
        <img class="icon" src="assets/framework-icons/icons8-angular-64.png" alt="Project 1">
        <img class="icon" src="assets/framework-icons/icons8-nodejs-48.png" alt="Project 1" >
        <img class="icon" src="assets/framework-icons/icons8-express-js-64.png" alt="Project 1" >
        <img class="icon" src="assets/framework-icons/icons8-postgresql-100.png" alt="Project 1" >
        <img class="icon" src="assets/framework-icons/icons8-github-100.png" alt="Project 1" >
        <img class="icon" src="assets/framework-icons/icons8-jwt-48.png" alt="Project 1" >
        <img class="icon" src="assets/framework-icons/icons8-git-48.png" alt="Project 1">
       </div>
    </mat-card>
  </div>
</div>
