<div class="services-container">
  <h1>Our Services</h1>
  <div class="services-cards">
    <mat-card class="service-card">
      <img src="assets/web-development_9517134.png" alt="Coding Illustration" class="illustration">
      <mat-card-title>Custom Web and API Development</mat-card-title>
      <mat-card-content>
        <p>We specialize in developing custom web applications and APIs that are tailored to meet the unique needs of your business. Using modern technologies and frameworks, we build scalable, secure, and high-performance solutions that drive business success and improve user experiences. Whether you need a dynamic website, a complex web application, or a robust API for integration, our team is equipped to deliver top-notch results.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="service-card">
      <img src="assets/branding_9516971.png" alt="Coding Illustration" class="illustration">
      <mat-card-title>Mobile App Development</mat-card-title>
      <mat-card-content>
        <p>Our mobile app development services focus on creating high-quality applications for both iOS and Android platforms. We employ the latest development practices and tools to build intuitive and engaging apps that enhance user interaction and retention. From conceptualization and design to development and deployment, we ensure that your mobile app stands out in the competitive app market and meets the needs of your target audience.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="service-card">
      <img src="assets/image-removebg-preview.png" alt="Coding Illustration" class="illustration">
      <mat-card-title>Database Management</mat-card-title>
      <mat-card-content>
        <p>We offer comprehensive database management services that include design, optimization, and maintenance to ensure your data is stored efficiently and retrieved quickly. Our expertise spans various database systems, allowing us to implement solutions that cater to your specific data needs. We focus on building robust databases that support your applications, enhance performance, and facilitate seamless data access and analysis.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="service-card">
      <img src="assets/optimization_9517020.png" alt="Coding Illustration" class="illustration">
      <mat-card-title>Support and Maintenance</mat-card-title>
      <mat-card-content>
        <p>Our support and maintenance services are designed to keep your systems running smoothly and efficiently. We offer ongoing support to address any issues that arise, perform regular updates, and ensure that your software remains up-to-date with the latest security patches and features. Our proactive maintenance approach helps prevent potential problems and ensures optimal performance of your applications and systems.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
