body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

span {
  color: #003366;
}

mat-sidenav-content{
  height: 100vh;
}

.drawer {
  position: fixed;
  margin-top: calc(7% + 9px);
  padding: 1rem;
  max-width: 80%;
}

.menu {
  display: none;
}

.menu-item {
  color: #003366;
  min-width: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  color: white;
  height: 12%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  background-color: #003366;
  // background-color: #008080;
  // background-color: #F5F5F5;
  // background-color: #6D28D9;
  // background-color: #000000;
  // color: black;
}

.spacer {
  flex: 1;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  padding-top: 10rem;
  position: relative; /* Required for the pseudo-element to position correctly */
  text-align: left;
  // background-color: #E0E0E0;

  img {
    max-width: 40%;
  }
}

.illustration {
  height: calc(10vh - 5px);
}

.text-content {
  max-width: 600px;
}

.text-content h1 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.text-content p {
  font-size: 1.1rem;
  margin-bottom: 24px;
  text-align: justify;
}

button {
  font-size: 1rem;
  color: white;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links {
  margin-right: 5rem;
  display: flex;
  gap: 3rem;
  font-weight: 100;
  font-size: medium;
}

.contact-us-btn {
  color: white;
  background-color: #003366;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  margin-left: 0 auto;
  cursor: pointer;
}

.logo {
  max-height: min-content;
}

.contact-us {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.title {
  color: #003366;
  font-size: 3rem;
  text-align: center;
  line-height: 1;
}
.code-text {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #41a0ff;
  font-size: 2rem;
  text-align: center;
  line-height: 0.1;
}


p {
  color: #4e4d4d;
  justify-content: center;
  text-justify: center;
}

.footer{
  max-height: 40px;
}

@media screen and (max-width: 424px) {
  .content {
    padding-top: 8rem;
    flex-direction: column;
    gap: 1rem;
    margin:0 10px;
  }

  .logo {
    flex: 1 1 auto;
  }


  .text-content {
    max-width: 100%;
  }
  .title {
    font-size: 2rem;
  }

  .nav-links {
    display: none;
  }

  .menu {
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;

    mat-icon {
      font-size: 30px;
    }
  }
  .contact-us {
    display: none;
  }
  .code-text {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .list-container {
    width: 200px;
  }
  .drawer {
    position: fixed;
    top: calc(6% + 2px);
    padding: 2%;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  
  .nav-links{
    display: none;
  }  
  .menu {
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;

    mat-icon {
      font-size: 30px;
    }
  }
  .content {
    padding-top: 8rem;
    flex-direction: column;
    gap: 1rem;
    margin:0 10px;
  }

}
