body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  color: white;
  height: 12%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  background-color: #003366;
  // background-color: #008080;
  // background-color: #F5F5F5;
  // background-color: #6D28D9;
  // background-color: #000000;
  // color: black;
}

.spacer {
  flex: 1;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  padding-top: 10rem;
  position: relative; /* Required for the pseudo-element to position correctly */
  text-align: left;
  // background-color: #E0E0E0;
  overflow: hidden; /* Ensure the zigzag border doesn't overflow */
  min-height: calc(100vh - 190px);
}

.illustration {
  max-width: 40%;
  margin-right: 50px;
}

.text-content {
  max-width: 600px;
}

.text-content h1 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.text-content p {
  font-size: 1.1rem;
  margin-bottom: 24px;
  text-align: justify;
}

button {
  font-size: 1rem;
  color: white;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links {
  margin-right: 5rem;
  display: flex;
  gap: 3rem;
  font-weight: 100;
  font-size: medium;
}

.contact-us-btn {
  color: white;
  background-color: #003366;
  padding: 1rem 2rem;
  border-radius: .5rem;
  border: none;
  margin-left: 0 auto;
  cursor: pointer;
}

.contact-us {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.title{
  color: #003366;
  font-size: 5rem;
  text-align: center;
}

p{
  color: #4e4d4d;
  justify-content: center;
  text-justify: center;
}

.logo{
  width: 500px;
  // height: 200px
}
