<mat-toolbar color="primary" class="toolbar">
  <span class="logo"> <img src="assets/image.png" alt="Coding Illustration" class="illustration">
  </span>
  <span class="spacer"></span>
  <div class="nav-links">
    <a class="nav-link" href="#">Home</a>
    <a class="nav-link" href="#">Portfolio</a>
    <a class="nav-link" href="#">About Us</a>
    <a class="nav-link" href="#">Contact Us</a>
  </div>
</mat-toolbar>

<div class="content">
  <img src="assets/undraw_dev_productivity_re_fylf 1.svg" alt="Coding Illustration" class="illustration">
  <div class="text-content">
    <div class="title">Your Idea Our Code.</div>
    <p>
      At HabTech, we transform your concepts into powerful digital solutions. Our skilled team specializes in creating bespoke websites, web apps, and mobile apps tailored to your needs.
    </p>
    <div class="contact-us">
      <button class="contact-us-btn">Contact Us</button>
    </div>
  </div>
</div>

<app-services></app-services>
<app-contact-us></app-contact-us>

<app-footer></app-footer>
